<!DOCTYPE html>
<html lang="en">

<head>
<base href="{{ documentRoot }}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Facebook Login API Example</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/frontend.css">
</head>

<body>

<header id="header">
	<div class="container">
		<h1>Facebook Login API Example</h1>
	</div>
</header>

<main id="main">
	<div class="container">
		{% block body %}{% endblock %}
	</div>
</main>

<footer id="footer">
	<div class="container">
		<p>
			&copy; Joseph Odom {{ 'now'|date('Y') }}
		</p>
		
		<p>
			<a href="./">Home</a>
			|
			<a href="./privacy_policy">
				Privacy Policy
			</a>
		</p>
	</div>
</footer>

</body>

</html>